<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="{% url 'mail:mailings' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">ТУРБО СПАМЕР СРИ САУЗЕНТ</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail:mailings' %}">Рассылки</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail:messages' %}">Сообщения</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail:clients' %}">Клиенты</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="#">Блог</a>
    </nav>
</div>