{% extends 'mail_sender/base.html' %}
{% block content %}


<main>
    <a class="btn btn-outline-primary m-2" href="{% url 'mail:create_message' %}">Создать сообщение</a>

    <h2 class="display-6 text-center mb-4">Список сообщений</h2>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
            <tr>
                <th style="width: 10%;">№</th>
                <th style="width: 30%;">Заголовок</th>
                <th style="width: 40%;">Текст</th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>

            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.title| title }}</td>
                <td>{{ object.body }}</td>
                <td><a href="{% url 'mail:update_message' object.pk %}" class="btn btn-outline-warning"
                       type="button">Редактировать</a></td>
                <td><a href="{% url 'mail:delete_message' object.pk %}" class="btn btn-outline-danger"
                       type="button">Удалить</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}