{% extends 'mail_sender/base.html' %}
{% load custom_tag %}
{% block content %}

<main>
    <a class="btn btn-outline-primary m-2" href="{% url 'blog:add_blog' %}">Создать статью</a>

    <h2 class="display-6 text-center mb-4">Блог</h2>

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-3">
            <div class="card m-2">
                <div class="card-title text-center text-bg-secondary">
                    <h5 class="card-title">
                        {{object.title}}
                    </h5>
                </div>
                <div class="card-body text-center">
                    <img class="image-fluid md-1" src="{{ object.image | make_image_link }}">
                    <p> {{object.body}}</p>
                    <a href="{% url 'blog:view_blog' object.pk %}" class="btn btn-success m-2"
                       type="button">Читать</a>
                    <a href="{% url 'blog:change_blog' object.pk %}" class="btn btn-warning m-2"
                       type="button">Редактировать</a>
                    <a href="{% url 'blog:delete_blog' object.pk %}" class="btn btn-danger m-2"
                       type="button">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}